.Form
    margin-top: 110px
    display: flex
    width: 41.66%    
    padding: 0 2.5vw
.Form__text
    position: relative
    display: flex
    flex-wrap: wrap
    border: solid 3px #826352
    padding: 50px 40px
.Form__ItemComment
    margin-top: 40px
    display: block
    textarea
        border: none
        margin-top: 10px    
        resize: none
        background-color: transparent
        outline: none
        font-style: italic
        background-image: linear-gradient(to bottom, transparent 97%, #dfd3cb 97%)
        background-size: 100% 30px
        font-size: 16px
        line-height: 30px
        width: 100%
        color: #826352
.Form__Span
    font-weight: 700
.Form__ItemEmail
    margin-top: 40px
    width: 60%
    display: flex
    flex-direction: column
    .Form__Input
        background-color: transparent
        margin-top: 10px
        outline: none
        border: none
        border-bottom: solid 1px #dfd3cb
input[type="submit"]
    border: none
    color: $red
    font-size: 20px
    line-height: 30px
    background-color: transparent
    margin-top: 40px
    border-bottom: dashed 1px $red
    outline: none
.Form__Image
    position: absolute  
    background-image: url('#{$templateDirectory}/assets/img/ingredients-pattern.png')
    width: 100vw
    height: 460px
    margin-left: -90px
    left: 100%