.ContentMenu
    display: flex
    flex-wrap: wrap
    margin: auto
    margin-top: 60px
    margin-left: -15px
    padding: 0 2.5vw
    +onPhone
        flex-wrap: nowrap
        white-space: nowrap
        overflow-x: auto
        overflow-y: hidden
        -webkit-overflow-scrolling: touch
.ContentMenu__Link
    margin-left: 15px
    margin-right: 15px
    font-family: Fira Sans
    line-height: 20px
    font-size: 16px
    border-bottom: solid 1px $red
.ContentMenu__Link:hover
    color: $green
    border-bottom: solid 1px $green
a.ContentMenu__LinkChecked
    color: $text