=BigShadow
    box-shadow: 6px 0 5px 0 rgba(8,10,15,0.14), 6px 12px 6px 0 rgba(8,10,15,0.10), inset 0 0 20px 20px #FFFFFF, inset 0 0 0 40px #DFDFE1, inset 0 0 8px 44px #E0DFE1
=MediumShadow
    box-shadow: 5px 0 4px 0 rgba(8,10,15,0.14), 5px 8px 5px 0 rgba(8,10,15,0.10), inset 0 0 14px 14px #FFFFFF, inset 0 0 0 28px #DFDFE1, inset 0 0 5px 30px #DFDFE1
=SmallShadow
    box-shadow: 4px 0 3px 0 rgba(8,10,15,0.14), 4px 6px 4px 0 rgba(8,10,15,0.10), inset 0 0 10px 10px #FFFFFF, inset 0 0 0 20px #DFDFE1, inset 0 0 6px 22px #E4E3E5
.SoupCards
    margin-top: 60px
    display: flex
    flex-wrap: wrap
    padding-left: -2.5vw
.SoupCards__Frame
    display: block
    position: relative
    width: 25%
    margin-top: 70px
    padding-left: 2.5vw
    padding-right: 2.5vw
    z-index: 0
    +onTablet
        width: 50%
        .SoupCards__Image
            +SmallShadow
    +onPhone
        width: 100%
        .SoupCards__Image
            +BigShadow
.SoupCards__Frame:nth-of-type(1).SoupCards__Frame
    width: 66.66%
    display: flex
    .SoupCards__Circle
        width: 62.5%
    .SoupCards__Image
        +BigShadow
        background-repeat: no-repeat
        background-size: contain
        width: 100%
    .SoupCards__Info
        width: 37.5%
        padding-left: 25px
        padding-right: 25px
    .SoupCards__Title
        margin-top: 40px
    .SoupCards__Text
        width: 100%
    +onTablet
        width: 100%
    +onPhone
        width: 100%
        display: flex
        flex-wrap: wrap
        flex-direction: column
        .SoupCards__Circle
            width: 100%
        .SoupCards__Image
            +BigShadow
            background-repeat: no-repeat
            background-size: contain
            width: 100%
        .SoupCards__Info
            width: 100%
            padding-left: 25px
            padding-right: 25px
.SoupCards__Frame:nth-of-type(2).SoupCards__Frame
    width: 33.33%
    display: block
    .SoupCards__Image
        +MediumShadow
        background-repeat: no-repeat
        background-size: contain
        width: 100%
    +onTablet
        width: 50%
        .SoupCards__Image
            +SmallShadow
    +onPhone
        width: 100%
        .SoupCards__Image
            +BigShadow
.SoupCards__Frame:nth-of-type(7).SoupCards__Frame
    width: 33.33%
    display: block
    .SoupCards__Image
        +MediumShadow
        background-repeat: no-repeat
        background-size: contain
        width: 100%
    +onTablet
        width: 50%
        .SoupCards__Image
            +SmallShadow
    +onPhone
        width: 100%
        .SoupCards__Image
            +BigShadow
.SoupCards__Frame:nth-of-type(8).SoupCards__Frame
    width: 33.33%
    display: block
    .SoupCards__Image
        +MediumShadow
        background-repeat: no-repeat
        background-size: contain
        width: 100%
    +onTablet
        width: 50%
        .SoupCards__Image
            +SmallShadow
    +onPhone
        width: 100%
        .SoupCards__Image
            +BigShadow
.SoupCards__Frame:nth-of-type(9).SoupCards__Frame
    width: 33.33%
    display: block
    .SoupCards__Image
        +MediumShadow
        background-repeat: no-repeat
        background-size: contain
        width: 100%
    +onTablet
        width: 50%
        .SoupCards__Image
            +BigShadow
    +onPhone
        width: 100%
        .SoupCards__Image
            +BigShadow
.SoupCards__Circle
    width: 100%
    position: relative
.SoupCards__Image
    width: 100%
    height: 0
    padding-bottom: 100%
    background-size: contain
    border-radius: 2000px
    +SmallShadow
.SoupCards__Info
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 40px
.SoupCards__Title
    font-weight: 700
    font-size: 25px
    margin-top: 10px
.SoupCards__Text
    line-height: 20px
    font-size: 16px
    margin-top: 10px
.SoupCards__Price
    line-height: 30px
    font-size: 20px
    margin-top: 10px
    color: $red
    align-items: flex-start
    border: none
    background: none
    border-bottom: dashed 1px $red
.SoupCards__Price:hover
    color: $green
    border-bottom: dashed 1px $green
.SoupCards__SallImage
    width: 117px
    height: 74px
    background-repeat: no-repeat
    position: absolute
    left: 77%
    background-image: url('#{$templateDirectory}/assets/img/special/icon-special.png')
.SoupCards__AllSoldFrame
    border: solid 3px $green
    color: $green
    margin-left: 10px
    position: relative
    height: 90%
.SoupCards__AllSoldInfo
    margin-top: 40px
    padding: 0 30px
    flex-direction: column
    background-image: url('#{$templateDirectory}/assets/img/parsley.png')
    height: 100%
    display: flex
    flex: auto
    background-position: center bottom
    background-size: contain
    background-repeat: no-repeat
    padding-bottom: 80%
p.SoupCards__AllSoldText
    font-style: italic
    font-size: 16px
    line-height: 20px
    margin-top: 10px
.SoupCards__AllSoldImg
    display: flex
    flex: auto
.SoupCards__AllSoldImage
    width: 100%
    height: 100%
    display: flex
    flex: auto
    background-size: contain
    background-repeat: no-repeat
    background-position: center bottom
.SoupCards__PriceBlock
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    flex-direction: column
.remove
    visibility: hidden
    border: none
    background: none
    margin-top: 10px
    font-size: 16px
    line-height: 20px
    color: $red
    border-bottom: dashed 1px $red
.SoupCards__Animated
    position: absolute
    display: flex
    flex-direction: column
    top: 0
    bottom: 0
    z-index: -10
    left: 2.5vw
    right: 2.5vw
    &>*::after
        content: ''
        display: block
        position: absolute
        z-index: -1
        width: 100%
        height: 0%
        outline: solid 3px #e1bebe
        outline-offset: -10px
        background-color: #fef2d6
        background-image: url('#{$templateDirectory}/assets/img/pattern-napkin-grain.png')
    .top
        padding-bottom: 50%
        margin-top: 0
        position: relative
        &::after
            transition: all 400ms ease-out
            bottom: 0
    .bottom
        flex: auto
        position: relative
        max-height: 100vh
        &::after
            transition: all 400ms ease-in
            top: 0
+onTabletPlus
    .SoupCards__Frame:nth-of-type(1) .SoupCards__Animated
        flex-direction: row
        .top
            padding-left: 31.25%
            &::after
                right: 0
                width: 0
                height: 100%
        .bottom
            flex: auto
            max-width: 100vw
            &::after
                left: 0
                width: 0
                height: 100%
    .SoupCards__Frame:nth-of-type(1) .Shown
        &>.top::after, &>.bottom::after
            width: 100%
            box-shadow: 0 1px 3px 0 rgba(24, 24, 25, 0.34)
.Shown
    &>.top::after, &>.bottom::after
        height: 100%
        box-shadow: 0 1px 3px 0 rgba(24, 24, 25, 0.34)
    .count
        position: absolute
        font-size: 60px
        font-weight: 300
        color: #e1bebe
        font-style: normal
        bottom: 0   
        right: 0
        margin-right: 20px
    &~ .SoupCards__Info .SoupCards__PriceBlock .remove
        visibility: visible

.remove:hover
    color: $green
    border-bottom: dashed 1px $green