//- Переделать
mixin SoupCards()
    .SoupCards
        each item in SoupCards
            .SoupCards__Frame
                if (item.count > 0)
                    .SoupCards__Animated
                        .top
                        .bottom
                        .count                       
                    .SoupCards__Circle
                        if (!item.sale)
                            .SoupCards__Image(style= 'background-image: url(' +item.image+');')
                        else
                            .SoupCards__SallImage(style= 'background-image: url(' +item.sallimg+');')
                            .SoupCards__Image(style= 'background-image: url(' +item.image+');')
                    .SoupCards__Info
                        h3.SoupCards__Title= item.title
                        p.SoupCards__Text= item.text
                        .SoupCards__PriceBlock
                            if (!item.sale)
                                button.SoupCards__Price= item.price
                            else
                                button.SoupCards__Price= item.price
                                button.SoupCards__Price.SoupCards__SalePrice= item.saleprice
                            button.remove Remove from cart
                else
                    .SoupCards__AllSoldFrame
                        .SoupCards__AllSoldInfo(style= 'background-image: url(' +item.allsold+ ');')
                            h3.SoupCards__AllSoldTitle= item.allsoldTitle
                            p.SoupCards__AllSoldText= item.allsoldText