meta(name='viewport',
content='width=device-width, initial-scale=1.0')
link(rel="shortcut icon" href="/assets/img/favicon.ico")
meta(charset="utf-8")
meta(name="format-detection" content="telephone=no")
meta(name="robots" content="noindex,nofollow")
