.Sorting
    margin-top: 20px
    padding: 0 2.5vw
select
    -webkit-appearance: none
    background: transparent
    border: none
    outline: none
    color: $red
    border-bottom: dashed 1px $red
select:hover
    color: $green
    border-bottom: dashed 1px $green