mixin Sorting()
    .Sorting
        h1 Fall soups
        .Sorting__Sel
            span Sorted by 
            select.Sorting__Select(name="sorting")
                    option(value="Popularity") Popularity
                    option(value="MostBought") Most bought
                    option(value="MostViews") Most views