extends /Base/Base.pug

block append head
    title Dishes
    meta(name="description" content="")

block content
    section
        +ContentMenu()
    section
        +Sorting()
    section
        +SoupCards()
    section
        +Form()