//- include /Form/Form.pug
include /Header/Header.pug
include /ContentMenu/ContentMenu.pug
include /SoupCards/SoupCards.pug
include /Form/Form.pug
include /Sorting/Sorting.pug
include /Footer/Footer.pug
doctype html
html(lang="ru")
    head
        block head
            include /Head/Head.pug
            include /Global/HeadIncludes.pug
    body
        block header
            header
                +Header()    
        .content
            block content
                div Lorem Ipsum
        block footer
            .footer-container
                include /Global/FooterIncludes.pug
                footer
                    +Footer()