//- .Header__menuItem--Checked - класс для смены цвета текущей ссылки
mixin Header()
    .Header
        .Header__menu
            a.Header__logotype(href="#")
            button.Burger__Icon(type='button')
            .Burger.Burger__shown
                each item in Header
                        a.Header__menuItem(href=item.link)=item.text
        a.Header__cart(href="#")
            .Header__cartBuy