.Header
    width: 100%
    margin: auto
    display: flex
    margin-top: 60px
    justify-content: space-between
    align-items: center
    padding: 0 2.5vw
.Header__menu
    display: flex
    align-items: center
    flex-wrap: wrap
.Header__logotype
    background-image: url('#{$templateDirectory}/assets/img/logo/logo-soup.png')
    background-size: contain
    width: 70px
    height: 70px
    background-repeat: no-repeat
    background-position: center
    margin-right: 15px
.Header__logotype:hover
    background-image: url('#{$templateDirectory}/assets/img/logo/logo-soup-hover.svg')
    width: 70px
    height: 70px
.Header__menuItem
    display: flex
    margin-left: 15px
    margin-right: 15px
    font-family: Fira Sans
    font-weight: 400
    border-bottom: solid 1px $red
    font-size: 20px
    line-height: 30px
    color: $red
    margin-left: 15px
    margin-right: 15px
    +onPhone
.Header__menuItem:hover
	color: $green
	border-bottom: solid 1px $green
.Header__cart
    background-image: url('#{$templateDirectory}/assets/img/cart/cart-icon.png')
    width: 50px
    height: 50px
    background-position: center
    background-repeat: no-repeat
    display: block
    // justify-content: flex-end
    // align-items: center
.Header__cart:hover 
    background-image: url('#{$templateDirectory}/assets/img/cart/cart-icon-hover.png')
    width: 50px
    height: 50px
.Burger__Icon
    background-image: url('#{$templateDirectory}/assets/img/burger.png')
    width: 50px
    height: 50px
    border: none
    outline: none
    background-color: transparent
    background-position: center
    display: none
    background-repeat: no-repeat
    +onPhone
        display: block
.Burger
    display: flex
    +onPhone
        flex-direction: column
        display: none
        a
            display: block
            position: relative
            padding-top: 10px
            padding-bottom: 10px
.Burger__shown
    +onPhone
        display: flex
        align-items: flex-start
        position: absolute
        margin-top: 120px
        margin-left: 92px
        outline: solid 1px $red
        outline-offset: -1px
        background-color: $bg
.Header__cartBuy
    color: $bg
    display: flex
    padding: 10px
    justify-content: center
    font-size: 20px
    line-height: 30px
    font-weight: 500
a.Header__MenuItemChecked
    color: $text
    border-bottom: solid 2px $text
    pointer-events: none