.Footer
    padding-top: 90px
    padding-bottom: 60px
    max-width: 1520px
    width: 100vw
    margin: auto
    padding-left: 2.5vw
    padding-right: 2.5vw
.Footer__line
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    padding-left: 2.5vw
    padding-right: 2.5vw
    line-height: 20px
    font-size: 16px
    +onPhone
        flex-direction: column
        align-items: flex-start
.Footer__ItemLeft
    display: flex
    +onPhone
        flex-direction: column
.Footer__link
    border-bottom: solid 1px $red
.Footer__link:hover
    color: $green 
    border-bottom: solid 1px $green
.FooterItem__Link
    padding-left: 20px
    padding-right: 20px
    +onPhone
        padding-left: 0
        padding-right: 0
        margin-top: 10px
.Footer__Span
    font-weight: 700
.Footer__LinkImage
    background-image: url('#{$templateDirectory}/assets/img/logo/logo-osa.svg')
    background-size: 30px 13px
    padding-right: 32px
    background-position: right center
    background-repeat: no-repeat
    border-bottom: solid 1px $red
.Footer__LinkImage:hover
    border-bottom: solid 1px $green
    color: $green
    background-image: url('#{$templateDirectory}/assets/img/logo/logo-osa-hover.svg')
    background-size: 30px 13px
    padding-right: 32px
    background-position: right center