mixin Footer()
    .Footer
        .Footer__line
            .Footer__ItemLeft
                span.Footer__Span © 2017, Sup Soup
                each item in Footer
                    .FooterItem__Link
                        if (!item.image)
                            a.Footer__link(href=item.link)=item.text
            .Footer__ItemRight
                a.Footer__LinkImage(href="#") Design by