- var blocks = {};

mixin set(key)
    - blocks[key] = this.block
//- Usage
//- // mixin definition
//- mixin A
//-     block
//-     - blocks.content()
//-
//- // mixin call
//- +A
//-     +set('content')
//-         p A content
