$green: #669c2b
$yellow: #D39A36
$red: #ff0030
$text: #000000
$bg: #ffffff
$bg2: #eeece8
.content
	display: block
	overflow-x: hidden
	max-width: 100vw
	width: 100vw
body
	display: flex
	flex-direction: column
	max-width: 100vw
	min-height: 100vh
	background-image: linear-gradient(to bottom, $bg, $bg2)
	background-color: $bg2
	background-repeat: no-repeat
	font-family: Fira Sans
	background-size: 100% 80vh
	overflow-x: hidden
section, header
	max-width: 1520px
	width: 100%
	margin: auto
	padding-left: 2.5vw
	padding-right: 2.5vw
h1
	font-size: 56px 
	line-height: 60px
h2
	font-size: 32px
	line-height: 40px
h3
	font-size: 25px
	line-height: 30px
p
	font-family: Fira Sans
	// font-size: 18px
	font-weight: 400
	line-height: 24px
label
	font-size: 18px
	margin-top: 24px
	line-height: 24px
a
	text-decoration: none
a:active
	color: $red
a:link
	color: $red
a:visited
	color: $red
*
	box-sizing: border-box
	margin: 0
	padding: 0
p, h1, h2, h3
	margin: 0
$maxPhone: 640px
$maxTablet: 1024px
$maxDesktop: 1520px

=onPhone
    @media screen and (max-width: $maxPhone)
        @content

=onTablet
    @media screen and (min-width: $maxPhone + 1px) and (max-width: $maxTablet)
        @content

=onDesktop
    @media screen and (min-width: $maxTablet + 1px)
        @content

=onOversize
    @media screen and (min-width: $maxDesktop + 1px)
        @content

=onDevices
    @media screen and (max-width: $maxTablet)
        @content
=onTabletPlus
	@media screen and (min-width: $maxPhone + 1px)
		@content